<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<resultMap type="Content" id="ContentMap">
		<result property="pn" column="pn"/>
		<result property="type" column="type"/>
		<result property="content" column="content"/>
		<result property="writeUser" column="write_user"/>
		<result property="writeDate" column="write_date"/>
		<result property="star" column="star"/>
		<result property="usestar" column="usestar"/>
		<result property="usecomment" column="usecomment"/>
		<result property="blogAddress" column="blog_address"/>
		<collection property="commentList" column="pn" javaType="java.util.ArrayList" ofType="Comment" select="getCommentListByContentId" />
	</resultMap>
	
	<resultMap type="Comment" id="CommentMap">
		<result property="pn" column="pn"/>
		<result property="content" column="content"/>
		<result property="writeUser" column="write_user"/>
		<result property="writeDate" column="write_date"/>
		<result property="blogPn" column="blog_pn"/>
	</resultMap>
	
	<select id="getContent" resultMap="ContentMap" parameterType="ContentFilter">
	SELECT
		pn, type, content, write_user, write_date, star, usestar, usecomment, blog_address
	FORM
		blog_board
	WHERE
		blog_address = #{blogAddress}	
		<if test="categoryId != null or categoryId != ''">
		    AND
		    	category_id = #{categoryId}
		</if>
		<if test="detailId != null or detailId != ''">
		   	AND
		   		detail_id = #{detailId}
		</if>
	ORDER BY
		write_date DESC
	</select>
	
	<select id="getCommentListByContentId" resultMap="CommentMap">
	    SELECT
	    	pn, content, write_user, write_date, blog_pn
	    FROM
	    	blog_board_comment
	    WHERE
	    	blog_pn = ${pn}
	    ORDER BY
	    	write_date 
	</select>
	
	<insert id="joinContent" parameterType="Content">
	INSERT INTO
			blog_board
			(
				type,
				content,
				write_date,
				write_user,
				star,
				usestar,
				usecomment,
				blog_address
			)
		VALUES
			(
				#{type},
				#{content},
				#{writeDate},
				#{writeUser},
				#{star},
				#{usestar},
				#{usecomment},
				#{blogAddress}
			)	
	</insert>


</mapper>