<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<resultMap type="Content" id="ContentMap">
		<result property="pn" column="pn"/>
		<result property="type" column="type"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="writeUser" column="write_user"/>
		<result property="writeDate" column="write_date"/>
		<result property="star" column="star"/>
		<result property="useStar" column="usestar"/>
		<result property="useComment" column="usecomment"/>
		<result property="blogAddress" column="blog_address"/>
		<collection property="commentList" column="pn" javaType="ArrayList" ofType="Comment" select="getCommentListByContentId" />
		<collection property="attachmentList" column="pn" javaType="ArrayList" ofType="ContentAttachment" select="getContentAttachmentByContentId"></collection>
	</resultMap>
	
	<resultMap type="Comment" id="CommentMap">
		<result property="pn" column="pn"/>
		<result property="content" column="content"/>
		<result property="writeUser" column="write_user"/>
		<result property="writeDate" column="write_date"/>
		<result property="blogPn" column="blog_pn"/>
	</resultMap>
	
	<resultMap type="ContentAttachment" id="ContentAttachmentMap">
	    <result property="seq" column="seq"/>
		<result property="boardPn" column="board_pn"/>
		<result property="fileName" column="file_name"/>
		<result property="filePath" column="file_path"/>
		<result property="fileExtension" column="file_extension"/>
		<result property="fileSize" column="file_size"/>	    	    
	</resultMap>
	
	<select id="getContentList" resultMap="ContentMap" parameterType="ContentFilter">
	SELECT
		pn, type, title, content, write_user, write_date, star, usestar, usecomment, blog_address
	FROM
		blog_board
	WHERE
		blog_address = #{blogAddress}	
		<if test="categoryId != null and categoryId != ''">
		    AND
		    	category_id = #{categoryId}
		</if>
		<if test="detailId != null and detailId != ''">
		   	AND
		   		detail_id = #{detailId}
		</if>
	ORDER BY
		write_date 
	DESC
	</select>
	
	<select id="getCommentListByContentId" resultMap="CommentMap">
	    SELECT
	    	pn, content, write_user, write_date, blog_pn
	    FROM
	    	blog_board_comment
	    WHERE
	    	blog_pn = #{pn}
	    ORDER BY
	    	write_date 
	</select>
	
	<select id="getContentAttachmentByContentId" resultMap="ContentAttachmentMap">
	    SELECT
	    	seq, board_pn, file_name, file_path, file_extension, file_size
	    FROM
	    	blog_board_attachments
	    WHERE
	    	board_pn = #{pn}
	</select>
	
	<select id="getAttachment" parameterType="Integer" resultMap="ContentAttachmentMap">
	   
	    SELECT
	    	seq, board_pn, file_name, file_path, file_extension, file_size
	    FROM
	    	blog_board_attachments
	    WHERE
	    	seq = #{value} 	    
	</select>
	
	<select id="getComment" parameterType="Comment" resultMap="CommentMap">
	    SELECT
	    	pn, content, write_date, write_user, blog_pn
	    FROM
	    	blog_board_comment
	    WHERE
	    	pn = #{pn}	    
	</select>
	
	<insert id="joinContent" parameterType="Content">
	INSERT INTO
			blog_board
			(
				type,
				content,
				write_date,
				write_user,
				star,
				usestar,
				usecomment,
				blog_address
				<if test="categoryId != null and categoryId != ''">
					,category_id
				</if>
				<if test="detailId != null and detailId != ''">
					,detail_id
				</if>
			)
		VALUES
			(
				#{type},
				#{content},
				SYSDATE(),
				#{writeUser},
				#{star},
				#{useStar},
				#{useComment},
				#{blogAddress}
				<if test="categoryId != null and categoryId != ''">
					,#{categoryId}
				</if>
				<if test="detailId != null and detailId != ''">
					,#{detailId}
				</if>
			)	
		<selectKey keyProperty="pn" resultType="Integer">
		    SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="insertAttachment" parameterType="ContentAttachment">
	    INSERT INTO
	    	blog_board_attachments
	    	(
	    		board_pn,
	    		file_name,
	    		file_path,
	    		file_extension,
	    		file_size
	    	)	    
	    VALUES
	    	(
	    		#{boardPn},
	    		#{fileName},
	    		#{filePath},
	    		#{fileExtension},
	    		#{fileSize}
	    	)
	</insert>
	<insert id="addComment" parameterType="Comment">
	    INSERT INTO
	    	blog_board_comment
	    	(
	    		content, write_date, write_user, blog_pn
	    	)
	    VALUES
	    (
	    	#{content}, SYSDATE(), #{writeUser}, #{blogPn}
	    )
	    <selectKey keyProperty="pn" resultType="Integer">
	        SELECT LAST_INSERT_ID()        
	    </selectKey>
	</insert>
	
	<update id="blogAddressUpdate" parameterType="UserBlogInfo">
		UPDATE
			blog_board
		SET
			blog_address = #{blogAddress}
		WHERE
			blog_address = #{beforeBlogAddress}
	</update>
</mapper>