<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myblogInfoMapper">
	<resultMap type="UserBlogInfo" id="UserBlogInfoMap">
		<result property="blogAddress" column="blog_address"/>
		<result property="blogName" column="blog_name"/>
		<result property="type" column="type"/>
	</resultMap>
	
	<resultMap type="Category" id="CategoryMap"  >
		<result property="blogAddress" column="blog_address" />
		<result property="categoryId" column="category_id" />
		<result property="categoryName" column="category_name" />
		<collection property="categoryDetailList" column="category_id" javaType="ArrayList" ofType="CategoryDetail" select="getUserCategoryDetailByCategoryId" />
	</resultMap>
	
	<resultMap type="CategoryDetail" id="CategoryDetailMap">
	    <result property="id" column="id"/>
	    <result property="detailId" column="detail_id"/>
	    <result property="detailName" column="detail_name"/>
	    <result property="detailLinkName" column="detail_link_name"/>	    
	</resultMap>
	
	<select id="getBlogInfo" resultMap="UserBlogInfoMap" parameterType="String">
	SELECT 
		blog_address, blog_name, type
	FROM
		user_blog
	WHERE
		blog_address = #{blogAddress}
	</select>
	
	<select id="blogCheck" resultType="Integer" parameterType="String">
	SELECT 
		count(*)
	FROM
		user_blog
	WHERE
		blog_addres = #{blogAddress}
	</select>
	
	<select id="getUserCategory" parameterType="String" resultMap="CategoryMap">
	    SELECT
	    	blog_address,
	    	category_id,
	    	category_name
	   	FROM
	   		user_category
	   	WHERE
	   		blog_address = #{value}	    
	</select>
	
	<select id="getUserCategoryDetailByCategoryId" resultMap="CategoryDetailMap">
	    SELECT
	    	id,
	    	detail_id,
	    	detail_name,
	    	detail_link_name
	    FROM
	    	user_category_detail
	    WHERE
	    	id = #{categoryId}	    
	</select>
	
	<select id="getBlogByUserId" parameterType="String" resultMap="UserBlogInfoMap">
		SELECT 
			blog_address, blog_name, type
		FROM
			user_blog
		WHERE
			blog_address = (select blog_address from users where user_id = #{value})	    		    
	</select>
	
	<insert id="join" parameterType="UserBlogInfo">
	INSERT INTO
			user_blog
			(
				blog_address,
				blog_name,
				type
			)
		VALUES
			(
				#{blogAddress},
				#{blogName},
				#{type}
			)	
	</insert>
	
	
	
</mapper>