@CHARSET "UTF-8";
/*.fb-login-loginForm li{ display: inline; padding: 5px;  }*/

/*
	* create page *
*/
/*
.login-create-table{ float: left; margin-left: 500px; border: 1px solid black; }
.login-create-table tr{ padding-bottom : 10px; }
.login-create-tagcloud{ float: left; border : 1px solid black; }


.fb-btn-orange-login{padding: 5px 10px;}
.fb-create-user-header{ width: 990px; margin: auto auto; height: 75px; }
.fb-create-user-login, .fb-create-user-login:VISITED{ font-size: 12px; float: right; color: #808080; margin-top: 60px;}
.fb-create-user-login:HOVER, .fb-create-user-login:ACTIVE{color: #000;}
.fb-create-user-wrap{ width : 500px; margin: 75px auto 0 auto; min-height: 400px;}
.fb-create-user-info{ width: 500px; float: left;}
.fb-create-user-info>h1{ float: left; width: 100%; padding: 0 0 20px 0; font-size: 20px; color: #524d4d;}
.fb-create-user-info>h2{ float: left; width: 100%; padding: 0 0 20px 0; font-size: 12px; color: #524d4d;}
.fb-create-user-table { border-collapse: collapse; width: 500px; font-size: 12px;}
.fb-create-user-table th, .fb-create-user-table td{ padding: 3px 2px 3px 2px; height: 55px;}
.fb-create-user-table th{ width: 200px; vertical-align: middle; color: #8c827e;  text-align: left; font-size: 15px; font-weight: normal;}
.fb-create-user-table td{ width: 300px; vertical-align: middle;}
.fb-create-user-table tbody th, .fb-create-user-table tbody td { }
.fb-create-user-table thead th, .fb-create-user-table thead td { }
.fb-create-user-table tfoot th, .fb-create-user-table tfoot td { text-align: center;}
.fb-create-user-input { width: 220px; padding: 2px 3px; border: 1px solid #ad9c9c; height: 25px;
 	-webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
}
.fb-create-user-input:FOCUS{	border: 1px solid #ff8a00; }
.fb-create-user-input-error { width: 220px; padding: 2px 3px; border: 1px solid #ff8a00; height: 25px;
 	-webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
}
.fb-create-user-input-error:FOCUS{ border: 1px solid #ff0000;  }

.fb-create-user-vaild-wrap{position: absolute; margin: 3px 0 0 245px; width: 300px; display: none;}
.fb-create-user-vaild-wrap>span{display: block; width: 280px; background: #fff; font-size: 11px; text-align: center; }
.fb-form-invalid { line-height: 24px; color: red; border: 1px solid red;}
.fb-form-valid { line-height: 24px; color: green; border: 1px solid green;}
.fb-create-submit{width: 100px; font-size: 15px;}

.fb-create-user-warning{font-size: 11px; color: #7a7a7a; margin: 20px 0 0 20px;}
.fb-create-user-warning>ul{}
.fb-create-user-warning>ul>li{ padding: 5px 0; list-style-type: circle;}
.fb-create-user-warning>ul>li>a, .fb-create-user-warning>ul>li>a:VISITED{ color: #7a7a7a; text-decoration: underline;}
.fb-create-user-warning>ul>li>a:HOVER{ color: #7a7a7a; }

.fb-create-user-error{font-size: 11px; margin: 5px 0 0 5px; line-height: 1.2; color: #ff3c00;}
*/
* {
	margin: 0;
	padding: 0;
}

#body {
	background: #554d42;
	font-family: Tahoma, Arial, Helvetica, sans-erif;
	font-size: 12px;
	line-height: 20px;
	bgcolor: #554d42;
}

#login_wrap {
	margin: 20px auto 10px auto;
	width: 800px;
	background: #000 url(../image/bg_errLogin.png) no-repeat;
	padding: 10px;
	border: 5px solid #000;
}

/** custom loginPage **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #666;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  background: #eee;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
}
.about a {
  color: #333;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #fafafa;
  background: rgba(255, 255, 255, 0.7);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
body, .login-submit, .login-submit:before, .login-submit:after {
  background: #373737 url("../img/bg.png") 0 0 repeat;
}

body {
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
}

a {
  color: #00a1d2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.login {
  position: relative;
  margin: 80px auto;
  width: 400px;
  padding-right: 32px;
  font-weight: 300;
  color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
.login p {
  margin: 0 0 10px;
}

input, button, label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text], input[type=password] {
  padding: 0 10px;
  width: 300px;
  height: 40px;
  color: #bbb;
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
input[type=text]:focus, input[type=password]:focus {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}

label {
  float: left;
  width: 100px;
  line-height: 40px;
  padding-right: 10px;
  font-weight: 100;
  text-align: right;
  letter-spacing: 1px;
}

.forgot-password {
  padding-left: 100px;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 1px;
}

.login-submit {
  position: absolute;
  top: 12px;
  right: 0;
  width: 48px;
  height: 48px;
  padding: 8px;
  border-radius: 32px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}
.login-submit:before, .login-submit:after {
  content: '';
  z-index: 1;
  position: absolute;
}
.login-submit:before {
  top: 28px;
  left: -4px;
  width: 4px;
  height: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
}
.login-submit:after {
  top: -4px;
  bottom: -4px;
  right: -4px;
  width: 36px;
}

.login-button {
  position: relative;
  z-index: 2;
  width: 48px;
  height: 48px;
  padding: 0 0 48px;
  /* Fix wrong positioning in Firefox 9 & older (bug 450418) */
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  /* Must use another pseudo element for the gradient background because Webkit */
  /* clips the background incorrectly inside elements with a border-radius.     */
}
.login-button:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: #b77f51;
  border-radius: 24px;
  background-image: -webkit-linear-gradient(top, #b77f51, #926540);
  background-image: -moz-linear-gradient(top, #b77f51, #926540);
  background-image: -o-linear-gradient(top, #b77f51, #926540);
  background-image: linear-gradient(to bottom, #b77f51, #926540);
  -webkit-box-shadow: inset 0 0 0 1px #b77f51, 0 0 0 5px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 0 1px #b77f51, 0 0 0 5px rgba(0, 0, 0, 0.16);
}
.login-button:active:before {
  background: #926540;
  background-image: -webkit-linear-gradient(top, #926540, #b77f51);
  background-image: -moz-linear-gradient(top, #926540, #b77f51);
  background-image: -o-linear-gradient(top, #926540, #b77f51);
  background-image: linear-gradient(to bottom, #926540, #b77f51);
}
.login-button:after {
  content: '';
  position: absolute;
  top: 18px;
  left: 11px;
  width: 25px;
  height: 19px;
  background: url("../image/btnText_sign_in.png") 0 0 no-repeat;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 40px;
  background: #282828;
}
.lt-ie9 .login-submit {
  position: absolute;
  top: 12px;
  right: -28px;
  padding: 4px;
}
.lt-ie9 .login-submit:before, .lt-ie9 .login-submit:after {
  display: none;
}
.lt-ie9 .login-button {
  line-height: 48px;
}
.lt-ie9 .about {
  background: #313131;
}
