<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>   
    <typeAliases>
    	<typeAlias alias="UserInfo" type="com.food.blog.login.UserInfo" /> 
    	<typeAlias alias="UserBlogInfo" type="com.food.blog.myblog.UserBlogInfo"/>
    	<typeAlias alias="Comment" type="com.food.blog.myblog.Comment"/>
    	<typeAlias alias="Content" type="com.food.blog.myblog.Content"/>
    	<typeAlias alias="ContentFilter" type="com.food.blog.myblog.ContentFilter"/>
    	<typeAlias alias="Category" type="com.food.blog.myblog.Category"/>
    	<typeAlias alias="CategoryDetail" type="com.food.blog.myblog.CategoryDetail"/>
    	<typeAlias alias="ContentAttachment" type="com.food.blog.myblog.ContentAttachment"/>
    </typeAliases>

</configuration>

